.sidenav {
    position: relative;
    display: inline-block;
    background-color: #f7e9d8;
    width: 40vh;
    height: 100vh;
    padding: 50px 50px 10px 50px;
    border-radius: 5%;
}

.userImage {
    display: block;
    width: 125px;
    height: 131.1px;
    border-radius: 50%;
    padding: 19px;

}

.sidenav a {
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #055149;
    // text-shadow: 2px 2px #000000d8;
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: #f7e9d8;
    

}

.sidenavContent {
    margin-top: 10px;
}

.sidenav a:hover {
    opacity: 0.7;
    transition: 0.5s;
}

.sidenav b {
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #A5F1E9;
    font-family: 'Abril Fatface';
    text-shadow: 2px 2px #2F8F9D;
    opacity: 0.7;
    padding-top: 10px;
    padding-bottom: 10px;
}

.myaccount {
    color: #a26111;
    text-shadow: 2px 2px #A5F1E9;
    margin: 50px ;
}

.myaccount h1 {
    display: block;
    font-size: 50px;    
}

.myaccountcontent {
    display: inline-block;
    padding-top: 80px;
}

.myaccount b {
    font-size: 23px;
    display: block;
    margin-bottom: 30px;
}

.container {
    display: flex;
    // justify-content: space-aroun;
}
