@use "./utils/variables" as var;
@use "./utils/mixins" as mx;

.container {
   display: flex;
   background-color: var.$background-color;
   color: var.$font-color;
}

.myaccount {
   margin-left: 220px;
   padding: 20px;
}

.myaccount h1 {
   font-size: var.$font-size-24;
   font-weight: var.$font-weight-bold;
   margin-bottom: 10px;
}

.myaccountcontent {
   margin-bottom: 20px;
}

.myaccountcontent b {
   display: block;
   margin-bottom: 10px;
}
