@use "variables" as var;

@mixin char_linear {
   background: var.$linear-color;
   -webkit-text-fill-color: transparent;
   background-clip: type-of($value: text);
   -webkit-background-clip: text;
}

@mixin buttons {
   font-size: var.$font-size-20;
   font-weight: var.$bold-font-weight;
   padding: var.$padding-10-11;
}

@mixin signIn {
   @include buttons();
   @include char_linear();
   margin-right: 31px;
}

@mixin signUp {
   @include buttons();

   color: var.$white-color;
   border-radius: var.$border-radius-11;
   background: var.$linear-color;
}
