@use "../utils/variables" as var;
@use "../utils/mixins" as mx;

.linearChar {
   @include mx.char_linear;
}

.main {
   display: flex;
   justify-content: space-evenly;
   align-items: flex-end;
   margin-top: 30px;

   .section1 {
      div:not(:last-child) {
         margin-bottom: 20px;
      }

      .welcome {
         font-family: var.$default-font-family;
         font-weight: var.$font-weight-700;
         font-size: var.$font-size-48;
         line-height: 58px;
         width: 501px;
      }

      .mainContent {
         width: 308px;
         font-family: var.$default-font-family;
         font-weight: var.$font-weight-500;
         font-size: var.$font-size-20;
         line-height: 24px;
      }

      .signUp {
         @include mx.signUp;
         width: 268px;
         font-family: var.$default-font-family;
         font-weight: var.$font-weight-600;
         font-size: var.$font-size-36;
         line-height: 44px;
         text-align: center;
      }
   }
}

.article1 {
   margin-bottom: 1000px;
   margin-top: 86px;
   display: flex;
   flex-direction: column;
   align-items: center;

   .atcContent1 {
      width: 407px;
      height: 78px;
      font-family: var.$default-font-family;
      font-weight: var.$font-weight-700;
      font-size: var.$font-size-32;
      line-height: 39px;
      text-align: center;
   }

   .services {
      display: flex;
      justify-content: space-evenly;
      width: 70vw;
      margin-top: 20px;
   }
}
